*.swp

node_modules

# vscode files
.vscode/

# Compiled python modules
__pycache__/

# Built and cached files
kolibri_explore_plugin/_version.py
kolibri_explore_plugin/apps/**/*.zip
kolibri_explore_plugin/loadingScreen/
kolibri_explore_plugin/static/kolibri_explore_plugin*
kolibri_explore_plugin/static/build-info.json
kolibri_explore_plugin/build/
build/
dist/
kolibri_explore_plugin.egg-info/
packages/*/custom-channel-ui.zip
packages/loading-screen/loading-screen.zip
packages/template-ui/src/nodes.json
packages/template-ui/*.zip
apps-bundle.zip

# Symlink to template overrides
packages/template-ui/src/overrides

# Environment file with secrets
/.env

# Collection files. These are bundled in apps
kolibri_explore_plugin/static/collections

# pytest files
.pytest_cache/
pytestdebug.log

# Translations
kolibri_explore_plugin/locale/**/LC_MESSAGES/*.csv
kolibri_explore_plugin/locale/**/LC_MESSAGES/django.mo
kolibri_explore_plugin/locale/en/LC_MESSAGES/profiles/*
