include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include kolibri_explore_plugin/VERSION
include kolibri_explore_plugin/content_types.json
recursive-exclude kolibri_explore_plugin/* *pyc
recursive-exclude kolibri_explore_plugin/assets *
recursive-include kolibri_explore_plugin/migrations *
recursive-include kolibri_explore_plugin/management *
recursive-include kolibri_explore_plugin/templates *.*
recursive-include kolibri_explore_plugin/static *.*
recursive-exclude kolibri_explore_plugin/static/collections *
recursive-include kolibri_explore_plugin/build *.json
recursive-include kolibri_explore_plugin/locale *.mo
recursive-include kolibri_explore_plugin/locale *.json
recursive-include kolibri_explore_plugin/vendor *.py
recursive-include kolibri_explore_plugin/welcomeScreen *.*
