# webpack build-info is needed at runtime, but it’s only built at build time
# by yarn, so setuptools doesn’t know about it.
include kolibri_explore_plugin/static/build-info.json

# This is the dist form of welcomeScreen, which is not committed to git (but its
# source in packages/welcome-screen, is). It needs to be in the dist tarball
# because it’s consumed by kolibri-installer-android to show a welcome screen,
# and kolibri-installer-android consumes the kolibri-explore-plugin wheel
# directly.
recursive-include kolibri_explore_plugin/welcomeScreen *.*
