// FIXME: Rethink style overrides https://phabricator.endlessm.com/T32016
// @import '@/overrides/styles.scss';
@import 'ek-components/src/styles';

$content-card-min-width: 300px;
$content-image-min-width: 210px;

:export {
  cardSpacerX: $card-spacer-x;
  contentImageMinWidth: $content-image-min-width;
}
