@import 'styles';

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index';

@import "~@fontsource/lato/index.css";
@import "~@fontsource/poppins/index.css";

// Override containers mixin:
@mixin make-container($gutter: $grid-gutter-width) {
  width: 100%;
  padding-right: $gutter + $circled-button-size;
  padding-left: $gutter + $circled-button-size;
  margin-right: auto;
  margin-left: auto;
}

@if $enable-grid-classes {
  // Single container class with breakpoint max-widths
  .container,
  // 100% wide container at all breakpoints
  .container-fluid {
    @include make-container();
  }
  .no-container-padding {
    padding-right: 0;
    padding-left: 0;
  }
}

// Change button dark outline variant:
.btn-outline-dark {
  $value: theme-color("dark");
  @include eos-button-outline-variant($value, $color-hover: $value, $border-color: $gray-500, $active-background: transparent, $active-border: $primary);
}

// Change buttons variant:
@each $color, $value in $theme-colors {
  .btn-#{$color}-primary {
    $hover-value: scale-color($value, $lightness: $hover-lightness);
    @include button-variant(
      $background: $value,
      $border: $value,
      $hover-background: $hover-value,
      $active-background: $hover-value,
      $active-border: $hover-value);
    border: 0;
  }

  .btn-#{$color}-light {
    @include button-variant(
      $background: $light,
      $border: $light,
      $hover-border: $value);
    border: 0;
  }

  .btn-#{$color}-outline-dark {
    $value: theme-color("dark");
    @include eos-button-outline-variant($value, $color-hover: $value, $border-color: $gray-500, $active-background: transparent, $active-border: $primary);
  }
}

.btn-light {
  color: $dark;
}

.close.text-light {
  text-shadow: none;
}

// Change breadcrumbs:
.breadcrumb {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}
.breadcrumb-item,
.breadcrumb-item.text-light a {
  color: $gray-500;
};
.breadcrumb-item.text-light a {
  text-decoration: underline;
};

.badge {
  font-family: $headings-font-family;
  color: $text-muted;
}

.breadcrumb-item a {
  color: $gray-700;
}

.description {
  white-space: pre-wrap;
}

.welcome-card {
  border: $border-width solid $dark;
  border-radius: $border-radius-lg;
  background-color: $gray-200;
  .card-title {
    color: $dark;
  }
  &.active .card-title {
    color: $primary;
  }
  .icon-wrapper {
    position: absolute;
    right: map-get($spacers, 1);
    top: map-get($spacers, 1);
  }
  &.disabled {
    opacity: $disabled-card-opacity;
  }
}
