// Copy of the Bootstrap mixin. Allows to pass a border color different than the text color.
@mixin eos-button-outline-variant($color, $border-color: $color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
  color: $color;
  border-color: $border-color;

  @include hover() {
    color: $color-hover;
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $btn-focus-width rgba($active-border, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;

    &:focus {
      @if $enable-shadows and $btn-active-box-shadow != none {
        @include box-shadow($btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($active-border, .5));
      } @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: 0 0 0 $btn-focus-width rgba($active-border, .5);
      }
    }
  }
}

// Allows reusing the same style in the header and in the navbar:
@mixin navbar-background($header-height) {
  background-color: $header-color;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  @include media-breakpoint-down(md) {
    background-size: auto $header-height;
  }
}
