@import "~@fontsource/lato/index.css";
@import "~@fontsource/poppins/index.css";

// Bootstrap theme variables:
$primary-300: #FF9C76;
$primary-500: #F15A22;
$primary-600: #C13501;
$secondary-300: #72D9C0;
$secondary-500: #14BF96;
$secondary-600: #0F8F71;
$gray-200: #EFF0F3;
$gray-300: #EFF0F3; // FIXME this is the same as the 200 one provided
$gray-400: #D8DDE1;
$gray-500: #CED4DA;
$gray-600: #6C757D;
$gray-700: #12272A;
$gray-800: #091415;

$primary: $primary-500;
$secondary: $secondary-500;

$orange-300: #FEB272;
$orange: #FD7E14;
$yellow-300: #F9D780;
$yellow: #F5BD2C;
$teal-300: #79DFC1;
$teal: #20C997;
$cyan-300: #6EDFF6;
$cyan: #0DCAF0;
$lavender-300: #D3B2EA;
$lavender: #B57EDC;
$pink-300: #F681BB;
$pink: #F02D8E;

$theme-colors: (
  "audio": $pink,
  "document": $teal,
  "exercise": $cyan,
  "html5": $orange,
  "video": $yellow
);

$border-radius-lg: 1rem;
$body-bg: $gray-200;
$font-family-sans-serif: "Lato", sans-serif;
$headings-font-family: "Poppins", sans-serif;

// Template variables:
$header-logo-width: 128;
$hover-lightness: 15%;
$background-alpha: -8%;

:export {
  headerLogoWidth: $header-logo-width;
}

@function card-body-height($title-lines) {
  $type-line-height: $font-size-base * $line-height-base;
  $title-line-height: $title-lines * ($h5-font-size * $headings-line-height);
  $subtitle-line-height: $font-size-base * $line-height-base;
  $tags-line-height: $font-size-base * $line-height-base;

  $margins: map-get($spacers, 1) * 4;

  @return ($type-line-height + $title-line-height +
           $subtitle-line-height + $tags-line-height +
           $margins);
}

// Placeholder variables
$ph-direction:            ltr !default;
$ph-bg:                   #fff !default;
$ph-color:                #ced4da !default;
$ph-border:               1px solid darken($ph-bg, 10%) !default;
$ph-border-radius:        1rem;

$ph-cols:                 12 !default;
$ph-cols-remove-odd:      true !default;
$ph-gutter:               30px !default;
$ph-spacer:               15px !default;

$ph-avatar-border-radius: 50% !default;

$ph-animation-duration:   0.8s !default;

$carousel-indicator-width:           24px !default;
$carousel-indicator-height:          8px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer:          3px !default;
$carousel-indicator-transition:      all .6s ease !default;

@import "../../template-ui/src/overrides/styles.scss";

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index';

// Change buttons hover color to lighten (default is darken):
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    $hover-value: scale-color($value, $lightness: $hover-lightness);
    @include button-variant($value, $value, $hover-value, $hover-value);
  }
}

$navbar-height: $navbar-brand-height +
                $navbar-brand-padding-y * 2 +
                $navbar-padding-y * 2;
