@import "~@fontsource/lato/index.css";
@import "~@fontsource/poppins/index.css";

// Bootstrap variables:
$primary: #F15A22;
$border-radius-lg: 1rem;
$gray-200: #e9ecef;
$body-bg: $gray-200;
$font-family-sans-serif: "Lato", sans-serif;
$headings-font-family: "Poppins", sans-serif;

// Template variables:
$header-logo-width: 128;
$audio-color: #dd448c;
$document-color: #5fc59a;
$exercise-color: #59c8ec;
$html5-color: #edbe4e;
$video-color: #ee8437;

:export {
  headerLogoWidth: $header-logo-width;
}

@function card-body-height($title-lines) {
  $type-line-height: $font-size-base * $line-height-base;
  $title-line-height: $title-lines * ($h5-font-size * $headings-line-height);
  $subtitle-line-height: $font-size-base * $line-height-base;
  $tags-line-height: $font-size-base * $line-height-base;

  $margins: map-get($spacers, 1) * 4;

  @return ($type-line-height + $title-line-height +
           $subtitle-line-height + $tags-line-height +
           $margins);
}

// Placeholder variables
$ph-direction:            ltr !default;
$ph-bg:                   #fff !default;
$ph-color:                #ced4da !default;
$ph-border:               1px solid darken($ph-bg, 10%) !default;
$ph-border-radius:        1rem;

$ph-cols:                 12 !default;
$ph-cols-remove-odd:      true !default;
$ph-gutter:               30px !default;
$ph-spacer:               15px !default;

$ph-avatar-border-radius: 50% !default;

$ph-animation-duration:   0.8s !default;

$carousel-indicator-width:           24px !default;
$carousel-indicator-height:          8px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer:          3px !default;
$carousel-indicator-transition:      all .6s ease !default;

@import "../../template-ui/src/overrides/styles.scss";

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index';

$navbar-height: $navbar-brand-height +
                $navbar-brand-padding-y * 2 +
                $navbar-padding-y * 2;
