@import "~@fontsource/lato/index.css";
@import "~@fontsource/poppins/index.css";

// Bootstrap theme variables:
$primary: #F15A22;
$secondary: #14BF96;
$gray-300: #EFF0F3;
$gray-400: #D8DDE1;
$gray-500: #CED4DA;
$gray-600: #6C757D;
$gray-700: #12272A;
$gray-800: #091415;

$light: $gray-300;
$dark: $gray-600;

$orange: #FD7E14;
$yellow: #F5BD2C;
$teal: #20C997;
$cyan: #0DCAF0;
$lavender: #B57EDC;
$pink: #F02D8E;

$theme-colors: (
  "bundle": $lavender,
  "audio": $pink,
  "document": $teal,
  "exercise": $cyan,
  "html5": $orange,
  "video": $yellow
);

$btn-font-weight: 600;
$headings-font-weight: 600;
$display1-weight: 700;
$display2-weight: 700;
$display3-weight: 700;
$display4-weight: 700;

$border-radius-lg: 1rem;
$body-bg: $gray-300;
$font-family-sans-serif: "Lato", sans-serif;
$headings-font-family: "Poppins", sans-serif;

$btn-font-family: $headings-font-family;
$btn-font-size: 0.875rem;
$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;
$btn-font-size-sm: 0.75rem;
$btn-padding-x-sm: 0.75rem;
$btn-padding-y-sm: 0.375rem;
$breadcrumb-font-size: 0.875rem;
$breadcrumb-divider: quote("<");
$breadcrumb-divider-color: rgba($gray-700, 0.5);
$breadcrumb-active-color: rgba($gray-700, 0.5);
$breadcrumb-bg: $secondary !default;

// Template variables:
$header-logo-width: 128;
$hover-lightness: -25%;
$background-alpha: -8%;

:export {
  headerLogoWidth: $header-logo-width;
}

@function card-body-height($title-lines) {
  $type-line-height: $font-size-base * $line-height-base;
  $title-line-height: $title-lines * ($h5-font-size * $headings-line-height);
  $subtitle-line-height: $font-size-base * $line-height-base;
  $tags-line-height: $font-size-base * $line-height-base;

  $margins: map-get($spacers, 1) * 4;

  @return ($type-line-height + $title-line-height +
           $subtitle-line-height + $tags-line-height +
           $margins);
}

// Placeholder variables
$ph-direction:            ltr !default;
$ph-bg:                   #fff !default;
$ph-color:                #ced4da !default;
$ph-border:               1px solid darken($ph-bg, 10%) !default;
$ph-border-radius:        1rem;

$ph-cols:                 12 !default;
$ph-cols-remove-odd:      true !default;
$ph-gutter:               30px !default;
$ph-spacer:               15px !default;

$ph-avatar-border-radius: 50% !default;

$ph-animation-duration:   0.8s !default;

$carousel-indicator-width:           24px !default;
$carousel-indicator-height:          8px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer:          3px !default;
$carousel-indicator-transition:      all .6s ease !default;

@import "../../template-ui/src/overrides/styles.scss";

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index';

@import 'mixins';

// Change button dark outline variant:
.btn-outline-dark {
  $value: theme-color("dark");
  @include eos-button-outline-variant($value, $color-hover: $value, $border-color: $gray-500, $active-background: transparent, $active-border: $primary);
}
// Change buttons variant:
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    $hover-value: scale-color($value, $lightness: $hover-lightness);
    @include button-variant(
      $background: $value,
      $border: $value,
      $hover-background: $hover-value,
      $active-background: $hover-value,
      $active-border: $hover-value);
  }
}
.btn-light {
  color: $dark;
}

// Change header color:
$header-color: scale-color($secondary, $lightness: 50%);

// Change breadcrumbs:
.breadcrumb {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}
.badge {
  font-family: $headings-font-family;
}

.breadcrumb-item a {
  color: $gray-700;
}

// Calculate navbar height:
$navbar-height: $navbar-brand-height +
                $navbar-brand-padding-y * 2 +
                $navbar-padding-y * 2;

:export {
  xs: map-get($grid-breakpoints, "xs");
  sm: map-get($grid-breakpoints, "sm");
  md: map-get($grid-breakpoints, "md");
  lg: map-get($grid-breakpoints, "lg");
  xl: map-get($grid-breakpoints, "xl");
}
