name: Build

on:
  push:
    branches: [master, stable]
  pull_request:
  workflow_call:
    inputs:
      tagname:
        description: 'The git tag name for release'
        default: ''
        required: true
        type: string
  workflow_dispatch:

jobs:
  build_apps-bundle:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout from none-workflow_call
        uses: actions/checkout@v3
        if: ${{ !startsWith(inputs.tagname, 'v') }}

      - name: Checkout from workflow_call
        uses: actions/checkout@v3
        if: startsWith(inputs.tagname, 'v')
        with:
          ref: ${{ inputs.tagname }}

      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          # Should be same version as in scripts/bootstrap.sh
          node-version: '16.14.0'

      - name: Install dependencies
        run: |
          # Should be same version as in scripts/bootstrap.sh
          yarn global add @vue/cli@v4.5.15
          yarn install --ignore-engines

      - name: Build
        run: yarn build:apps

      - name: Deploy apps
        run: yarn deploy:apps

      - name: Release when triggered from a tag push
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: |
            apps-bundle.zip
            packages/welcome-screen/welcome-screen.zip

      - name: Release when triggered from workflow_call
        uses: softprops/action-gh-release@v1
        if: startsWith(inputs.tagname, 'v')
        with:
          tag_name: ${{ inputs.tagname }}
          generate_release_notes: true
          files: |
            apps-bundle.zip
            packages/welcome-screen/welcome-screen.zip


  build_kolibri-explore-plugin_whl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout from none-workflow_call
        uses: actions/checkout@v3
        if: ${{ !startsWith(inputs.tagname, 'v') }}

      - name: Checkout from workflow_call
        uses: actions/checkout@v3
        if: startsWith(inputs.tagname, 'v')
        with:
          ref: ${{ inputs.tagname }}

      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          # Should be same version as in scripts/bootstrap.sh
          node-version: '16.14.0'

      - name: Install latest pipenv
        run: |
          python3 -m pip install --upgrade pipenv

      - name: Install dependencies in pipenv
        run: |
          bash ./scripts/bootstrap.sh --ci

      - name: Build
        run: |
          pipenv run yarn build-dist
          ls -l dist/

      - name: Release to PyPI
        if: startsWith(github.ref, 'refs/tags/') || startsWith(inputs.tagname, 'v')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}


  trigger_endless-key-app:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/') || startsWith(inputs.tagname, 'v')
    needs: [build_apps-bundle, build_kolibri-explore-plugin_whl]

    steps:
      - name: Get tag name as the release version when at a tag
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Get tag name as the release version from input
        if: ${{ !startsWith(github.ref, 'refs/tags/') && startsWith(inputs.tagname, 'v') }}
        run: |
          echo "VERSION=${{ inputs.tagname }}" >> $GITHUB_ENV

      - name: Trigger building endless-key-app
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.REPOSITORY_DISPATCH_TOKEN }}
          script: |
            await github.rest.repos.createDispatchEvent({
              owner: "endlessm",
              repo: "endless-key-app",
              event_type: "kolibri-explore-plugin-release",
              client_payload: {
                VERSION: "${{ env.VERSION }}",
              }
            })


  trigger_kolibri-installer-android:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/') || startsWith(inputs.tagname, 'v')
    needs: [build_apps-bundle, build_kolibri-explore-plugin_whl]
    env:
      branch: ${{ github.ref }}

    steps:
      - name: Set branch if this is triggered by bump2release.yml
        if: startsWith(inputs.tagname, 'v')
        run: |
          # The kolibri-explore-plugin release flow from bump2release.yml will
          # append a new commit to master branch. Therefore, the github.ref is
          # not at the latest commit. Checkout master instead.
          echo "branch=${{ inputs.tagname }}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ env.branch }}

      - name: Install trigger_jenkins dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          python3 -m pip install requests python-jenkins

      - name: Trigger building kolibri-installer-android
        run: |
          ./scripts/trigger_jenkins.py kolibri-installer-android UPLOAD=true
        env:
          JENKINS_USER: ${{ secrets.JENKINS_USERNAME }}
          JENKINS_PASSWORD: ${{ secrets.JENKINS_PASSWORD }}
