name: Yarn build

on:
  push:
    branches: [master, stable]
  pull_request:

jobs:
  node10:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.7
      uses: actions/setup-python@v4
      with:
        python-version: 3.7

    - name: Install pipenv
      run: |
        python -m pip install --upgrade pipenv wheel

    - id: cache-pipenv
      uses: actions/cache@v1
      with:
        path: ~/.local/share/virtualenvs
        key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock') }}

    - name: Install dependencies
      if: steps.cache-pipenv.outputs.cache-hit != 'true'
      run: |
        pipenv install --dev --ignore-pipfile

    - name: Set up Node
      uses: actions/setup-node@v3
      with:
        # Should be same version as in scripts/bootstrap.sh
        node-version: '16.14.0'

    - name: Install dependencies
      run: |
        # Should be same version as in scripts/bootstrap.sh
        pipenv run yarn global add @vue/cli@v4.5.15
        pipenv run yarn install --ignore-engines

    - name: Build
      run: |
        pipenv run yarn build
