name: Test python

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  py:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python: [ 2.7, 3.5, 3.6, 3.7, 3.8 ]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox

    - name: python
      env:
        PYTHON: py${{ matrix.python }}
      run: tox -e $PYTHON
